{%extends 'custom_auth/base.html'%}

{%block content%}
<section class="sign-in">
    <div class="left">
        <h2>Inscrivez-vous maintenant</h2>
        <p><a href="{%url 'sign-up'%}">S'inscrire</a></p>
    </div>
    <div class="right">
        <h2>Connectez-vous</h2>
        <form method="post">
            {%csrf_token%}
            {{form}}
            <div class="submit">
                <input type="submit" value="Se connecter">
            </div>
        </form>
    </div>
</section>
{%endblock%}
